#!/usr/bin/env bash
#
# Greatly inspired by https://gist.github.com/maxim/6e15aa45ba010ab030c4
#
# This script downloads an asset from the latest release of a public Github
# repository. If you need to download from a private repository see the
# original script at the link above.
#
# PREREQUISITES
#
# curl, wget, jq

REPO="{{ github.username }}/{{ github.repository }}"
FILE="{{ github.filename }}"
GITHUB="https://api.github.com"
RELEASE_FILE="release_id.txt"

alias errcho='>&2 echo'

id_parser=".id"
web_parser=".assets | map(select(.name == \"$FILE-web\"))[0].id"
cli_parser=".assets | map(select(.name == \"$FILE-cli\"))[0].id"
mapping_parser=".assets | map(select(.name == \"mapping.json\"))[0].id"

release_content=`curl -s $GITHUB/repos/$REPO/releases/latest`
release_id=`echo $release_content | jq $id_parser`

# Check if there is a new release
if [ -f $RELEASE_FILE ]; then
    previous_release_id=`cat $RELEASE_FILE`
    if [ "$previous_release_id" -eq "$release_id" ]; then
        echo "Same release as last time, not downloading"
        exit 0
    fi
fi

# Get web binary
asset_id=`echo $release_content | jq "$web_parser"`
if [ "$asset_id" = "null" ]; then
  errcho "ERROR: no asset with name $FILE-web could be extracted"
  exit 1
fi;
wget https://api.github.com/repos/$REPO/releases/assets/$asset_id -q --header='Accept:application/octet-stream' -O ./papernet-web

# Get cli binary
asset_id=`echo $release_content | jq "$cli_parser"`
if [ "$asset_id" = "null" ]; then
  errcho "ERROR: no asset with name $FILE-cli could be extracted"
  exit 1
fi;
wget https://api.github.com/repos/$REPO/releases/assets/$asset_id -q --header='Accept:application/octet-stream' -O ./papernet-cli

asset_id=`echo $release_content | jq "$mapping_parser"`
if [ "$asset_id" = "null" ]; then
  errcho "ERROR: no asset with name 'mapping.json' could be extracted"
  exit 1
fi;
wget https://api.github.com/repos/$REPO/releases/assets/$asset_id -q --header='Accept:application/octet-stream' -O ./mapping.json


# Save release id
echo $release_id > $RELEASE_FILE
